.home_container {
  background-color: rgb(106, 146, 220);
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  justify-content: space-around;
  padding-bottom: 140px;
  .header {
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: rgba(238, 238, 238, 0.291);
  }
}
