.home_container {
  background-color: rgb(106, 146, 220);
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  justify-content: space-around;
  padding-bottom: 140px;
  .header {
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: rgb(130, 159, 212);
    border: solid rgb(59, 90, 133) 1px;
    padding: 0px 0px 0px 10px;
  }
}
