.home_container {
  background-color: rgb(106, 146, 220);
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  justify-content: space-around;
  padding-bottom: 140px;
  .header {
    margin: 30px;
    display: flex;
    justify-content: center;
  }

  .tabs {
    background-color: rgb(164, 164, 204);
    width: 100vw;
  }
}
